*{
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100%;
    margin: 0;
    color: black;
}

.mb-3, .my-3 {
    margin-bottom: 0!important;
}

.LogginBackground{
    height: 100%;
    background-image: url("https://www.worldanvil.com/uploads/images/fe4b3bd97e0aa2b4bc6b3684ef213886.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mynavbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.CenteredLoggin{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.LogginZone{
    width: 25%;
    background: white;
    padding: 30px 30px 35px 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.LogginZone .input-group.mb-3{
    padding-bottom: 10px;
}

.btnReturnHome {
    margin-left: 30px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
}

.nameFilter{
    margin-bottom: 50px !important;
}

.Header{
    width: 100%;
    height: 100px;
    background-color: darkgray;
    
    display:flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.Header .Icon{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 0; */
    width: 50px;
    height: 50px;
    /* line-height: 50%; */
}

.Body{
    /* height: 100%; */
    min-height: 100%;
    width: 100%;
    background-image: url("https://www.worldanvil.com/uploads/images/fe4b3bd97e0aa2b4bc6b3684ef213886.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Body__Spacing {
    margin: 50px 20px 0 20px;
    /* margin-top: 57px; */
}

.GroupedSectionContainer{
    background-color: rgba(233, 236, 239, 0.58);
    margin-top: 30px;
}

.GroupedSection{
    width: 100%;
    margin-top: 20px;

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

.GroupedSection:last-child{
    justify-content:left;
}

#root{
    height:100%;
}

.GroupedGnomes{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:30px;
}

.GnomeCard{
    height: 300px;
    max-width: 300px;
    float: left;
    margin: 5px;
    /* border: 1px solid black; */
    transition: 0.5s;
}

.GnomeCard:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.GnomeCard .GnomeCard__Thumbnail {
    /* width: 250px; */
    /* max-height: 200px; */
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.FeatureBox {
    width: 150px;
    height: 100px;
    text-align: center;
    border: 1px solid #ccc;
    float: left;
    transition: 0.5s;
    border-radius: 2px;
    background-color: white;    
    margin: 10px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.FeatureBox h5{
    margin-top: 10px;
}

.FeatureBox:hover {
    transform: scale(1.15);
    cursor: pointer;
    box-shadow: 10px 10px 2px 0 rgba(120,120,120,0.3);
}

.FadeInEffect{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.FadeOutEffect {
    -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 1s; /* Firefox < 16 */
    -ms-animation: fadeout 1s; /* Internet Explorer */
    -o-animation: fadeout 1s; /* Opera < 12.1 */
    animation: fadeout 1s;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100%   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100%   { opacity: 0; }
}

.fa-spinner{
    display: none;
}

.accordion h3{
    color: black;
    text-decoration-color: black;
}

.btn-link  {
    color: black !important;
}

.card-header {
    background-color: rgba(233, 236, 239, 0.58) !important;   
}

.card {
    background-color: rgba(233, 236, 239, 0.58) !important;   
    border: 0px !important; 
}

.form-check{
    padding-left: 2.25rem !important;
}